#imagen{
    background-color: blanchedalmond;
    height: 100px;
}

h1{
    text-align: center;
    font-family: sans-serif;
}

#form_label, a{
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}

html{
    font-family: sans-serif;
    text-decoration: none;
}

@media (min-width: 0px)
{
    .col-s-1{width: 8.33%;}
    .col-s-2{width: 16.66%;}
    .col-s-3{width: 25%;}
    .col-s-4{width: 33.33%}
    .col-s-5{width: 41.66%;}
    .col-s-6{width: 50%;}
    .col-s-7{width: 58.33%;}
    .col-s-8{width: 66.66%;}
    .col-s-9{width: 75%;}
    .col-s-10{width: 83.33%;}
    .col-s-11{width: 91.66%}
    .col-s-12{width: 100%;}
}

@media (min-width: 768px)
{
    .col-m-1{width: 8.33%;}
    .col-m-2{width: 16.66%;}
    .col-m-3{width: 25%;}
    .col-m-4{width: 33.33%}
    .col-m-5{width: 41.66%;}
    .col-m-6{width: 50%;}
    .col-m-7{width: 58.33%;}
    .col-m-8{width: 66.66%;}
    .col-m-9{width: 75%;}
    .col-m-10{width: 83.33%;}
    .col-m-11{width: 91.66%}
    .col-m-12{width: 100%;}
}

[class*="col-"]{
    float: left;
}

h1{
    text-align: center;
    font-family: sans-serif;
}

#form_label{
    font-family: sans-serif;
    font-size: 20px;
}

#textName{
    width: 20%;

}

.p-1{
    padding: 1em;
}

.InfoPerFlex
{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.m-0{
    margin: 0px;
}

.b-1{
    border: solid 1px black;
}

img{
    max-width: 20%;
    max-height: 20%;
}

.imagen{
    align-items: center;
    text-align: center;
}

a{
    text-decoration: none;
    color:black;
}

.fondo
{
    background-image: url("../Imagenes/fondo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contenido
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_login
{
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 10px;
    transition: all .3s;
}

.form_login input
{
    border: 0;
    display: flex;
    height: 15px;
    line-height: 15px;
    padding: 8px 15px;
    border-bottom: 1px solid #eeeeee;
    width: 100%;
    font-size: 20px;
}

.boton
{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: pink;
    color:black;
    border-color: white;
    border-radius: 15px;
    display: flex;
    padding: 8px 15px;
    text-align: center;

    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

.boton:hover
{
    font-weight: 1000;
    transition: .3s;
    background-color: palevioletred;
}

.boton2
{
    background-color: violet;
    color:black;
    border-radius: 15px;
    border-color:white;
    display: flex;
    padding: 8px 15px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

.boton2:hover
{
    font-weight: 1000;
    transition: .3s;
    background-color: palevioletred;
}
