php_flag display_errors on

RewriteEngine On

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f


#Usuarios
RewriteRule ^usuarios$ Controllers/usuarioController.php [L]
RewriteRule ^usuarios/([0-9]+)$ Controllers/usuarioController.php?id_usuario=$1 [L]


#Productos
RewriteRule ^productos$ Controllers/productoController.php [L]
RewriteRule ^productos/aprobado=([0-9]+)$ Controllers/productoController.php?aprobado=$1 [L]

#Sesiones
RewriteRule ^sesiones$ Controllers/sesionesController.php [L]
RewriteRule ^sesiones/([0-9]+)$ Controllers/sesionesController.php?id_sesion=$1 [L]