
*
{
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

/*.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%}
.col-5{width: 41%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66%;}
.col-9{width: 75%;}
.col-10{width: 83.22%;}
.col-11{width: 91.66%}
.col-12{width: 100%;}*/

@media (min-width: 0px)
{
    .col-s-1{width: 8.33%;}
    .col-s-2{width: 16.66%;}
    .col-s-3{width: 25%;}
    .col-s-4{width: 33.33%}
    .col-s-5{width: 41.66%;}
    .col-s-6{width: 50%;}
    .col-s-7{width: 58.33%;}
    .col-s-8{width: 66.66%;}
    .col-s-9{width: 75%;}
    .col-s-10{width: 83.33%;}
    .col-s-11{width: 91.66%}
    .col-s-12{width: 100%;}
    /*.Menu-s{
        display: inline-block;
    }*/
    
    .Menu li{
        display: flex;
        padding: 1%;
        height: 4em;
        transition: height 0.5s;
        font-size: 12px;
    }
}

@media (min-width: 768px)
{
    .col-m-1{width: 8.33%;}
    .col-m-2{width: 16.66%;}
    .col-m-3{width: 25%;}
    .col-m-4{width: 33.33%}
    .col-m-5{width: 41.66%;}
    .col-m-6{width: 50%;}
    .col-m-7{width: 58.33%;}
    .col-m-8{width: 66.66%;}
    .col-m-9{width: 75%;}
    .col-m-10{width: 83.33%;}
    .col-m-11{width: 91.66%}
    .col-m-12{width: 100%;}
    .b-prod-top{
        border-top: 1px black solid;
    }
}

[class*="col-"]{
    float: left;
}


.row::after{
    content: "";
    clear: both;
    display: table;
}

/*------------------------------------Parte del menu--------------------------*/
.Menu{
    background-color: rgb(193, 230, 230);
    color: rgb(54,64,64);
    height: 50%;
    /*padding: 0px;*/
    /*display: flex;*/
    margin: 0px;
    margin-top: 1em;
    border: rgb(54,64,64) 1px solid;
}

.Menu li{
    display: flex;
    padding: 1%;
    height: 4em;
    transition: height 0.5s;
}

/*Encabezado*/
.Encabezado a{
    text-decoration: none;
    color: black;
}

.Encabezado{
    /*background-color: darkseagreen; */
    background-color: rgb(161,191,191);
}

.Encabezado div{
    display: inline-block;
}

/*---------------------------------Productos-------------------------------------*/
.Productos{
    font-size: 14px;
    margin-top: 1em;
    padding-left: 1em;
    /*width: 75%;*/
    /*float: right;
    margin-right: 1em;
    
    margin-top: 2em;*/
}

.Productos img{
    text-align: center;
    align-items: center;    
    height: 10em;
    width: 10em;
    /*width: 100%;
    height: 100%;*/
}

.Foto{
    height: 1em;
    width: 1em;
}

.ImagenProd{
    align-items: center;
    text-align: center;
    display: inline-block;
}

.ImagenProd img{
    max-width: 100%;
    max-height: 100%;
}

.prod{
    display: inline-block;
    padding-bottom: 1em;
    /*width: 24.7%;*/
    /*height: 10em;*/
}

/*--------Botones------------------------------------------------------*/
.CheckButton
{
    color: black;
    height: 50%;
    margin: 0px;
    margin-top: 1em;
}

.CheckButton a
{
    display: flex;
    padding: 1%;
    height: 4em;
    color: black;
    font-size: 25px;
    font-style: italic;
}

.CheckButton button
{
    line-height: auto;
    text-align: center;
    width: 120px;
    height: 75px;
}

.botonConfirma
{
    margin-left: 500px;
    font-size: 25px;
    padding: .3em;
    margin-bottom: 10px;
}

/*----------------------------Flex--------------------------------------------------*/
.contenidoflex
{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.contenidoflex div
{
    padding: 1.75em;
    font-size: 1em;
}

.flexarchivo
{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.flexarchivo input
{
    margin-left: 100px;
    height: 20px;
    width: 20px;
}

.InfoPerFlex
{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

/*.InfoPerFlex div
{
    /*padding: 1.5em;
}*/

.contenidoflexEncabezado
{
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenidoflexEncabezado div
{
    padding: 1em;
    font-size: 2em;
}


/*---------------------Miscelanos-------------------------------*/
.textgeneral
{
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    font-size: 1.5em;
}

.b-1{
    border: black 1px solid;
}

textarea{
    width: 75%;
    height: 100%;
}

.textcenter
{
    text-align: center;
}

.h600
{
    height: 600px;
}

.h700
{
    height: 670px;
}

.fondoblanco
{
    background-color: whitesmoke;
}

.fondogris
{
    background-color: gainsboro;
}

.grisfuerte
{
    background-color: gray;
}

.teal
{
    background-color: green;
}

.leng-box
{
    height: 1em;
}

.flex
{
    display: flex;
}

#foto div
{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.pb-1
{
    padding-bottom: .5em;
}

.skill-box
{
    background-color: lightgray;
}

.seccion-title
{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}

.text-teal
{
    color: teal;
}

.textwhite
{
    color: whitesmoke;
}

a{
    text-decoration: none;
    color: rgb(54,64,64);
}




.border-top{
    border-top: rgb(54,64,64) 1px solid;
}

.m-1{
    margin: 1em;
}

.m-t-1{
    margin-top: 1em;
}

.m-r-1{
    margin-right: 1em;
}

.m-l-1{
    margin-left: 1em;
}

.m-1-top-bot{
    margin-top: 1em;
    margin-bottom: 1em;
}

.p-0{
    padding-left: 0px;
    align-items: center;
}

.p-1{
    padding: 1em;
}

.p-2
{
    padding: 1.5em;
}

.p-l-1{
    padding-left: 1em;
}

.p-t-1{
    padding-top: 1em;
}

.p-r-1{
    padding-right: 1em;
}

.border{
    border: black solid 1px;    
}

/*Animacion*/
.Menu li:hover{
    height: 100px;
} 
